.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 20px;
}

.flex {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 900px;
    margin-bottom: 50px;
    box-shadow: 0 0 10px rgba(149, 146, 146, 0.2);
}

.left {
    width: 50%;
    height: 612px;
    background: #fff;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left h2 {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 10px;
}

.left p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 20px;
}


.right {
    width: 50%;
    height: 612px;
    background: #1c2059;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.right h2 {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 10px;
}

.right h2 span {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 10px;
    color: #FFAC06;
}

.right p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 20px;
}

.Heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Heading img {
    margin-top: 50px;
    width: 100%;
    max-width: 300px; 
    height: auto;  
    object-fit: contain; 
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    padding: 10px;
}

.container button {
    margin-top: 50px;
    cursor: pointer;
    background-color: #1c2059;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease;
    padding: 12px 15px;
}

/* button:hover {
    background-color: #0056b3;
} */

button:focus,
input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}




/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .flex {
      flex-direction: column;
    }
  
    .left,
    .right {
      width: 100%;
      height: 450px;
    }

    .left h2 {
        font-size: 24px;
    }

    .left p {
        font-size: 13px;
    }
  
    .Heading img {
      max-width: 300px;
    }

    button {
        font-size: 14px;
        padding: 8px 10px;
    }
  }

  /* Further adjustments for even smaller screens */
@media (max-width: 480px) {
    .right h2 {
        font-size: 24px;
    }

    .right p {
        font-size: 13px;
    }
}